@model IEnumerable<Open.Facade.Country.CountryViewModel>
@{
    ViewData["Title"] = "Countries";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Alpha3Code)</th>
        <th>@Html.DisplayNameFor(model => model.Alpha2Code)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.ValidFrom)</th>
        <th>@Html.DisplayNameFor(model => model.ValidTo)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Alpha3Code)</td>
            <td>@Html.DisplayFor(modelItem => item.Alpha2Code)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.ValidFrom)</td>
            <td>@Html.DisplayFor(modelItem => item.ValidTo)</td>
        </tr>
    }
    </tbody>
</table>
