@model IEnumerable<Open.Facade.Currency.CurrencyViewModel>
@{
    ViewData["Title"] = "Countries";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.IsoCurrencySymbol)</th>
        <th>@Html.DisplayNameFor(model => model.CurrencySymbol)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.ValidFrom)</th>
        <th>@Html.DisplayNameFor(model => model.ValidTo)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.IsoCurrencySymbol)</td>
            <td>@Html.DisplayFor(modelItem => item.CurrencySymbol)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.ValidFrom)</td>
            <td>@Html.DisplayFor(modelItem => item.ValidTo)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IsoCurrencySymbol">Edit</a>
                <a asp-action="Details" asp-route-id="@item.IsoCurrencySymbol">Details</a>
                <a asp-action="Delete" asp-route-id="@item.IsoCurrencySymbol">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
